.container{
    margin: auto;
    width: 520px;
    height: 330px;
    border: 7px solid lightgrey;
    padding: 20px;
}
p{
    font-size: 22px;
    font-family: arial;
    font-weight: 500;
    line-height: 32px;  
}
.box{
    position: absolute;
    height: 175px;
    width: 148px;
    background-color: #663398;
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 5px;
    color: white;
    transform: translate(372px, -342px);
}