* {
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}
body {
    margin: 13px;
    padding: 9px;
    max-width: 500px;
}
.container {
    position: relative;
    border: 4px solid #CCCCCC;
    padding: 20px;
    max-width: 350px;
    line-height: 23px;
}
.target_box {
    position: absolute;
    border-radius: 4px;
    background-color: #663398;
    color: white;
    height: 104px;
    width: 104px;
    top: 0%;
    right: 0%;
    padding-left: 20px;
    padding-top: 20px;
}
